<h2>Not yet registered?<br>Please choose a username!</h2>
<form name="register" method="POST" action="/register">

  <input type="text" name="new_user" id="new_user" placeholder="Your username">
  <button type="submit" class="btn btn-success" value="register">Sign up!</button>

</form>
<p class="message">
{% if register_message %} 
{{ register_message }} 
{% endif %}
</p>
<p>
  <strong>Warning: </strong>This site is not secured, please don't put in privacy-sensitive information! Usernames will be
  displayed on the leaderboard.</p>