{% extends "base.html" %} {% block content %}

<h2>Are you ready to answer some riddles,  {{ username }}? Have fun and good luck!</h2>

{% for riddle in riddles_data["riddles"] %}
{% if loop.index == total_questions|int %}

<p>{{ loop.index }}. {{ riddle.riddle|safe }}</p>
<form name="riddles" method="POST" action="/riddles/{{ username }}/{{score}}/{{ total_questions }}">
  <input type="text" name="guess" id="guess" placeholder="Your answer">
  <button type="submit" class="btn btn-success" value="user_answer">Submit</button>
</form>
{{ answer }}
<hr>

{% endif %}
{% endfor %}
{% endblock %}